.sub-title {
  text-align: center;
  margin-bottom: 2rem;
}

::ng-deep nb-auth nb-card-header {
  display: none !important;
}
.logo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.img {
  width: 280px;
  margin-bottom: auto;

}

